extends layout
block content
        center
            h3 Tampilan suster untuk poliklinik #{poliklinik.nama}
            table.table.table-striped(style='width:400px')
                tr <th>Nama </th> <th>Kelola Antrian </th>
                each val,counter in antrian
                    tr
                        td=val.Pasien.nama
                        td
                            if (counter==0)
                                a(href='#{val.id}/selesai/#{idpoliklinik}')
                                    button.btn-danger(onclick='kurangiAntrian()') Selesai Diperiksa
                            else
                                a(href='#{val.id}/selesai/#{idpoliklinik}')
                                    button.btn-danger(onclick='kurangiAntrian()') Berhenti Mengantri

                            &nbsp;
                            a(href='suster/#{val.id}/langkahi')
                                button.langkahi.btn-warning langkahi
                        script(type='text/javascript').
                            var socket = io.connect('http://localhost:8080');
                            function kurangiAntrian(){
                                socket.emit('broadcast-suster', 'mengurangi antrian');
                            }